<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Us - Swastha</title>
    <meta name="description" content="Swastha - A Healthcare Group">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Right-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vanilla-zoom.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#" style="padding-bottom: 0px;padding-top: 9px;"><span style="color: rgba(32, 5, 111, 0.9);">Swastha</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}" style="padding-top: 20px;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'services' %}" style="padding-top: 20px;">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gallery' %}" style="padding-top: 20px;">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}" style="padding-top: 20px;">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'aboutus' %}" style="padding-top: 20px;">About<span style="color: rgba(252, 251, 251, 0.7);">_</span>Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}" style="padding-top: 20px;">Contact<span style="color: rgba(252, 250, 250, 0.7);">_</span>Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" style="padding-top: 20px;">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}" style="padding-top: 20px;">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p><br>Our Founding Team and Pillars of Strength<br><br></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/doc1.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title"><br><br><br><strong>Dr. Naresh Trehan</strong><br><br></h4>
                                <p class="card-text"><br><span style="color: rgb(33, 33, 33);">Dr. Trehan is an Indian cardiovascular and cardiothoracic surgeon. He graduated from King George Medical College, Lucknow, India, and went on to practice at New York University Medical Center, Manhattan USA.</span><br><br></p>
                                <div class="icons"><a href="https://www.linkedin.com/in/dr-naresh-trehan-4b175a5a/"><i class="icon-social-linkedin"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/doc2.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title"><br><br><br><strong>Dr. H.S. Chhabra</strong><br><br></h4>
                                <p class="card-text"><br><span style="color: rgb(33, 33, 33); background-color: rgba(255, 255, 255, 0);">Dr. Chhabra is one of the coveted &amp; most experienced surgeons in the field of Spine Surgery in India. He is well known for pioneering Laser and Endoscopic disc surgery in India.</span><br><br><br></p>
                                <div class="icons"><a href="https://www.linkedin.com/in/dr-h-s-chhabra-2001a6241/"><i class="icon-social-linkedin"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/doc3.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title"><br><strong>Dr. Mohamed Rela</strong><br><br></h4>
                                <p class="card-text"><br><span style="color: rgb(33, 33, 33);">Dr. Rela is a renowned surgeon known for his expertise in liver transplantation and hepatopancreatobiliary surgery. He has performed more than 3000 liver transplant surgeries so far.</span><br><br></p>
                                <div class="icons"><a href="https://www.linkedin.com/posts/shridhar-r-b97a1b1b_the-entire-team-at-rela-hospital-heartily-activity-6929270281953845249-KvZl?utm_source=share&amp;utm_medium=member_desktop"><i class="icon-social-linkedin"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'signup' %}">Sign up</a></li>
                        <li><a href="{% url 'login' %}">Log in</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="{% url 'aboutus' %}">Company Information</a></li>
                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                        <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'findus' %}">Find Us</a></li>
                        <li><a href="{% url 'blog' %}">Forum</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Learn More</h5>
                    <ul>
                        <li><a href="{% url 'services' %}">Services Offered</a></li>
                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'blogpost' %}">Mental Health Program</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Swastha Healthcare Group</p>
        </div>
    </footer>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{% static 'assets/js/vanilla-zoom.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>