<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FAQ - Swastha</title>
    <meta name="description" content="Swastha - A Healthcare Group">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Right-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vanilla-zoom.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#" style="padding-bottom: 0px;padding-top: 9px;"><span style="color: rgba(32, 5, 111, 0.9);">Swastha</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}" style="padding-top: 20px;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'services' %}" style="padding-top: 20px;">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gallery' %}" style="padding-top: 20px;">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}" style="padding-top: 20px;">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'aboutus' %}" style="padding-top: 20px;">About<span style="color: rgba(252, 251, 251, 0.7);">_</span>Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}" style="padding-top: 20px;">Contact<span style="color: rgba(252, 250, 250, 0.7);">_</span>Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" style="padding-top: 20px;">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}" style="padding-top: 20px;">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">FAQ</h2>
                    <p>Some frequently asked questions we've received.</p>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question"><strong><span style="color: rgb(6, 24, 41);">My online booking platform is broken / doesn’t work. What is happening?</span></strong><br></h4>
                        <div class="answer">
                            <p><span style="color: rgb(102, 111, 119);">First make sure that you have registered on the online booking platform, if you already registered and online booking doesn’t work, it may be because appointments are fully booked. In this case, please call our office to book an appointment.</span><br></p>
                            <p><span style="color: rgb(102, 111, 119);">For in-person appointments: please call our office or book a virtual appointment first.</span><br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question"><strong><span style="color: rgb(6, 24, 41);">Why do my appointments feel so short?</span></strong><br></h4>
                        <div class="answer">
                            <p><span style="color: rgb(102, 111, 119);">MSP (Medical Services Plan) limits us to a certain time period per appointment. Our doctors care for you and try their best to give the best care to patients, but please note that we are limited in time. You are always welcome to book appointments as often as you like.</span><br></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">I haven't received any replies yet,&nbsp;<span style="color: rgb(6, 24, 41);">is there something I can do about it?</span><br></h4>
                        <div class="answer">
                            <p><span style="color: rgb(102, 111, 119);">We try to give our best service to our patients and it can get very busy from time to time. Please try again a few minutes later.</span><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'signup' %}">Sign up</a></li>
                        <li><a href="{% url 'login' %}">Log in</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="{% url 'aboutus' %}">Company Information</a></li>
                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                        <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'findus' %}">Find Us</a></li>
                        <li><a href="{% url 'blog' %}">Forum</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Learn More</h5>
                    <ul>
                        <li><a href="{% url 'services' %}">Services Offered</a></li>
                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'blogpost' %}">Mental Health Program</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Swastha Healthcare Group</p>
        </div>
    </footer>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{% static 'assets/js/vanilla-zoom.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>